
.clock
{
	background:#440000;
	width:200px;
	height:200px;
	display: block;
        color: white;

}

.clockcircle
{
        color: #42f5b9;
        display:none;
}

.clockhand
{
        color: #94240a;
        display:none;
}

.clockcanvas
{
        background:#000000;
        width:100%;
        height:100%;
        //margin-left: 10%;
}
